{% extends 'articles/base.html' %}

{% block title %}Articles{% endblock %}
{% block header %}Articles{% endblock %}
{% block content %}
    {% for a in articles %}
        <h2><a href="{{ a.get_absolute_url }}">{{ a.title }}</a></h2>
        <p>{{ a.author.get_full_name }}</p>
        <p>{{ a.publication_date }}</p>
        <div>{{ a.content|linebreaks|truncatewords:'100' }}</div>
    {% endfor %}
    <div>
        {% if articles.has_previous %}
            <a href="{% url 'page' articles.previous_page_number %}">Previous</a>
        {% endif %}

        {% if articles.has_next %}
            <a href="{% url 'page' articles.next_page_number %}">Next</a>
        {% endif %}
    </div>
    {% include 'articles/includes/contact_link.html' %}
{% endblock %}
