{% extends 'articles/base.html' %}

{% block title %}{{ object.title }}{% endblock %}
{% block header %}{{ object.title }}{% endblock %}
{% block content %}
    <p>{{ object.author.get_full_name }}</p>
    <p>{{ object.publication_date }}</p>
    <div>{{ object.content|linebreaks }}</div>
    {% include 'articles/includes/contact_link.html' %}
{% endblock %}