<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mirarticles - {% block title %}{% endblock %}</title>
</head>
<body>
<h1><a href="{% url 'home' %}">mirarticles</a></h1>
<h2>{% block header %}{% endblock %}</h2>
{% block content %}{% endblock %}
</body>
</html>